.material-panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
	    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
}
.material-panel .material-icons{
    margin-right: 10px;
	 margin-top: -3px;
}
.material-panel .head{
	display: flex;
	vertical-align: middle;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.material-panel .title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.material-panel .body{
	 display: flex;
	 vertical-align: middle;
    padding: 15px;
}

.material-panel.default {
    border-color:#f7f7f7;
}
.material-panel.info>.head{
    color: #fff;
    background-color: #039be5;
}
.material-panel.default>.head{
    color: #333;
    background-color: #f7f7f7;
    border-color: #ddd;
}
.material-panel.warning>.head{
    color: #fff;
    background-color: #fbc02d;
}
.material-panel.error>.head{
    color: #fff;
    background-color: #c62828;
}
.material-panel.success>.head{
    color: #fff;
    background-color: #43a047;
}
.material-panel .head .material-icons{
	color:#fff
}
.material-panel.warning .material-icons{
    color: #f1ac00;
}
.material-panel.info .body .material-icons{
    color: #039be5;
}
.material-panel.success .body .material-icons{
    color: #43a047;
}
.material-panel.error .body .material-icons{
    color: #A3011D;
}